<h1><%=t("queries.successful_percentage") %></h1>

<h4><%= @successful_percentage.to_s + '%'%></h4>

<%= link_to t('helpers.links.back'),
            students_path,
            :class => 'btn btn-primary' %>